<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="schema" content="https://dmccreary.github.io/intelligent-textbooks/ns/microsim/v1">
    <title>{MICROSIM_NAME}</title>
    <style>
        body { margin: 0px; padding: 0px; font-family: Arial, Helvetica, sans-serif; }
    </style>
    <!-- this line will vary based on the java library used.  This is for p5.js but
     it could be for another library such as vis-network.js or mermaid.js -->
    <script src="https://cdn.jsdelivr.net/npm/p5@1.11.10/lib/p5.js"></script>
    <script src="{MICROSIM_ID}.js"></script>
</head>
<body>
    <main></main>
    <br/>
    <a href=".">Back to Lesson Plan</a>
</body>
</html>